.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(12, 71, 235);
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.content {
  color: white;
  margin: 0;
}

.modalBtn {
  padding: 6px 10px;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}
